<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Todo App</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

<div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">TodoApp</h2>
        <nav>
            <a href="/home" class="active">📋 Show Tasks</a>
            <a href="/settings">⚙ Settings</a>
            <a href="/logout" class="logout">🚪 Logout</a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="main-content">

        <!-- Top Bar -->
        <header class="top-bar">
            <h3>
                Welcome, <span class="username">{{name}}</span>
            </h3>
            <form action="/add_task" method="get">
                <button class="add-btn">+ Add Task</button>
            </form>
        </header>

        <!-- Task List -->
        {% if data %}
        <section class="task-list">
            {% for task in data %}
            <div class="task-card">

                <!-- Task Info -->
                <div class="task-info">
                    <h4>{{ task["Title"] }}</h4>
                    <p>{{ task["Description"].strip('""').split('\n')[0] }}</p>
                </div>

                <!-- Task Actions -->
                    
                <div class="task-actions">
                        <form action="/view_task/{{ task._id }}" method="get">
                            <button class="view_btn">View</button>
                        </form>
                        <form action="/edit_task/{{ task._id }}" method="get">
                            <button class="edit-btn">Edit</button>
                        </form>
                        <form action="/delete_task/{{ task._id }}" method="post">
                            <button class="delete-btn">Delete</button>
                        </form>
                </div>

            </div>
            {% endfor %}
        </section>
        {% else %}
        <h2>Dont have any Notes.</h2>
        {%endif%}

    </main>
</div>

</body>
</html>