<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Todo App</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>

<div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">TodoApp</h2>

        <nav>
            <a href="/home" class="active">📋 Show Tasks</a>
            <a href="/settings">⚙ Settings</a>
         <a href="/logout" class="logout">🚪 Logout</a>

        </nav>
    </aside>

    <!-- Main Content -->
    <main class="main-content">

        <!-- Top Bar -->
        <header class="top-bar">
            <h3>Welcome, <span class="username">{{name}}</span></h3>
            <form action="/add_task" method="get">
                <button class="add-btn">+ Add Task</button>
            </form>
        </header>

        <!-- Task List -->
        <section class="task-list">

            <div class="task-card">
                <div class="task-info">
                    <h4>Finish FastAPI project</h4>
                    <p>Complete backend and UI</p>
                </div>

                <div class="task-actions">
                    <form action="/edit-task/1" method="get">
                        <button class="edit-btn">Edit</button>
                    </form>
                    <form action="/delete-task/1" method="post">
                        <button class="delete-btn">Delete</button>
                    </form>
                </div>
            </div>

        </section>

    </main>
</div>

</body>
</html>
